SetEnv PHP_VER 5_3
SetEnv REGISTER_GLOBALS 0

#--------------------------------------------------
# Interdiction de listage de repertoire
#--------------------------------------------------

Options -Indexes